h1{
	color: red;
	font-family: "Spectral";
}

p{
	color: blue;
	font-family: "Archivo";	
	font-family: 'Archivo', sans-serif;
font-family: 'Noto Sans HK', sans-serif;
font-family: 'Spectral', serif;
	
	
}